{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut" }}>Sign out</button>
{{else}}
  <button {{action "signIn" "facebook"}}>Sign in </button>
{{/if}}

{{outlet}}
